# Node.js
node_modules/
dist/
dist-ssr/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
node/
*.zip

# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
env/
ENV/
.env
db.sqlite3
db.sqlite3-journal

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log
